div {
    width: 300px;
    height: 200px;
    padding: 5px;
    background: rgba(255, 255, 255, 0.43);
    color: rgb(0, 0, 0);
  }

#backdrop {
  display: flex;
  background-color:papayawhip;
  justify-content: center;
  align-content: center;
  height: 100%;
  width: 100%;
}

#biobox {
  display: flex;
  background-color: rgb(52, 134, 206);
  border: 0cm;
}

#left {
  display: flex;
  flex-direction: column;
  color: black;
}

#right {
  display: flex;
  color: red;
}