div {
    width: 600px;
    height: 300px;
    padding: 5px;
    background: rgba(255, 255, 255, 0.43);
    color: rgb(66, 189, 86);
  }

  section {
    width: 600px;
    height: 600px;
    display: flex;
    border: 1px dotted #2d2d2d;
    justify-content: center;
    align-items: center;
  }