
.container {
  max-width: 900px;
  margin:0;
}

.flex {
  display: flex;
  flex-direction: column;
}

aside {
  background-color: #241445;
  width: 200px;
  padding: 20px;
}

.sidebar{
  background-color: pink;
  width: 20%;
  margin-right:10px;
  flex: 1;
  order: 1;
}

main {
  background-color: #43256E;
  width: 700px;
  flex: 2;
  padding: 20px;
  order: 2;
}